html,
body {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  background-image: url('../public/background4.png');
  /* background-size: cover; */
  background-repeat: repeat;
  /* background-color: #fdfbf8; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.content_bg {
  margin: 50px 0;
  background-image: url('../public/background1.png');
  height: 500px;
}