.Header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: 0;
  padding: 0.5rem 0.5rem 1.5rem 0.5rem;
  font-size: 0.9rem;
  z-index: 10;
}
.Header a {min-width: 8rem;}
.Header a:last-child {text-align: right;}
.flag {
  font-size: 4rem;
  /* line-height: 2rem; */
  padding:0 0.5rem;
  /* padding-right: 1rem; */
}

.flag:hover {
  font-size: 5rem;
  margin: -1rem -0.5rem -1rem -0.5rem;
}
@media screen and (max-width: 660px ) {
  .flag {font-size: 2.5rem; padding: 0 0.2rem;}
  .flag:hover {font-size:2.5rem; margin: 0;}
}

@media screen and (max-width: 390px ) {
  .flag {font-size: 2rem; padding: 0 0.1rem;}
  .flag:hover {font-size:2rem; margin:0;}
}