.Header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: 0;
  padding: 0.5rem 0.5rem 1.5rem 0.5rem;
  font-size: 0.9rem;
  z-index: 10;
}
.Header a {min-width: 8rem;}
.Header a:last-child {text-align: right;}
.flag {
  font-size: 4rem;
  /* line-height: 2rem; */
  padding:0 0.5rem;
  /* padding-right: 1rem; */
}