.LandingBanner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  width: 100%;
  transform: translate(0, -50%);
}
.LandingBanner h1 {height: 2rem;}
.LandingVideo {
  width: 100%;
}

.LandingHeader1 {
  font-size: 1.5rem;
  height: 2rem;
}

.LandingHeader2 {
  font-size: 1rem;
  height: 2rem;
}

.LandingButton {
  border: 1px solid black;
  padding: 0.8rem 1.5rem;
  /* margin-top: 0.5rem; */
  height: 3rem;
}

@media screen and (min-width: 800px) {
  .LandingVideo {
    width: 800px;
  }
}
